/* Применяется для всех 4 сторон */
padding: 1em;

/* По вертикали | По горизонтали */
padding: 5% 10%;

/* Сверху | По горизонтали | Снизу */
padding: 1em 2em 2em;

/* Сверху | Справа | Снизу | Слева */
padding: 2px 1em 0 1em;
